h1 {
    text-align: center;
    font-weight: 600;
}

.main-text {
    text-align: center;
}
.card {
    /* margin-bottom: 25px; */
}
.row {
   gap: 25px; 
}
.card-title {
    text-align: center;
}
.card-body-toptext {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}
.time {
    font-weight: 400;
}
.card-body-midtext {
    text-align: center;
}